/* Write your CSS here */
.home-container {
  background-color: #1e293b;
  color: #ffffff;
  text-align: center;
}

.ipl-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ipl-logo {
  width: 100px;
}

.home-title {
  font-family: 'Bree Serif', serif;
  font-size: 36px;
}

.teams-list {
  list-style-type: none;
  padding: 0;
}

.team-card {
  margin: 10px;
  background-color: #ffffff33;
  border-radius: 5px;
  overflow: hidden;
}

.team-link {
  text-decoration: none;
  color: inherit;
}

.team-logo {
  width: 100%;
}

.team-name {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  margin: 0;
  padding: 10px;
}
